.PokemonActive-wrapper {
  min-width: 275px;
  width: 40%;
  margin-left: 20px;

  .PokemonActive-title {
    font-size: 14px;
  }

  .PokemonActiveCharacteristics {
    display: flex;
    flex-direction: column;
  }
}
